$main-font: 'Arial', sans-serif;
$article-font: 'Open Sans', sans-serif;
@mixin title {
  h2 {
    text-transform: uppercase;
    font: 1.5rem $main-font;
    font-weight: bold;
    margin-bottom: 1.5rem;
    @media screen and (min-width: 1024px) {
      font-size: 2.5rem;
    }
  }

  span.title:before {
    content: '';
    display: block;
    border-top: 1px solid #ff6b24;
    width: 4.1rem;
    margin: auto;
    padding-bottom: 2px;
  }

  span.title:after {
    content: '';
    display: block;
    border-bottom: 1px solid #ff6b24;
    width: 4.1rem;
    margin-left: 50%;
  }
}

header {
  h1 {
    font: 1rem $main-font;
    text-transform: uppercase;
    @media screen and (min-width: 1024px) {
      font-size: 3.125rem;
    }
  }

  .carousel-indicators {
    display: block;
    right: auto;
    top: 50%;
    margin: 0 2%;

    li {
      width: 12px;
      height: 12px;
      border: none;
      border-radius: 50%;
      margin: 7px 0;
      opacity: 1;
      @media screen and (max-width: 500px) {
        width: 6px;
        height: 6px;
      }
    }
  }

  .carousel-indicators .active {
    background-color: #ff6b24;
  }

  .carousel-caption {
    bottom: 10%;
  }

  .navbar {
    position: absolute;
    z-index: 1;
    padding-top: 1rem;
    @media screen and (min-width: 1024px) {
      padding-top: 4rem;
    }

    img {
      @media screen and (max-width: 500px) {
        max-width: 50%;
      }
    }
  }

  .navbar-nav {
    margin-right: 0.5rem;
    @media screen and (min-width: 1440px) {
      margin-right: 9rem;
    }
  }

  .navbar-light .navbar-nav .nav-link {
    font: 0.9rem $main-font;
    color: white;
    text-transform: uppercase;
    padding: 1rem;
    @media screen and (max-width: 500px) {
      padding: 0.5rem;
      font-size: 0.5rem;
    }
  }

  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: white;
  }

  .navbar-collapse {
    text-align: right;
  }

  .navbar-light .navbar-toggler-icon {
    background-image: url(../images/menu.png);
  }

}

#about {
  @include title;
  padding-top: 3rem;
  @media screen and (min-width: 1024px) {
    padding-top: 6.3rem;
  }

  span {
    margin-bottom: 3rem;
    @media screen and (min-width: 1024px) {
      margin-bottom: 6.3rem;
    }
  }

  p {
    font-family: $main-font;
  }

  p:last-of-type {
    margin-bottom: 2rem;
  }

  .social {
    text-align: center;
    @media screen and (min-width: 1024px) {
      text-align: left;
    }
  }

  a {
    width: 3rem;
    height: 3rem;
    background-color: #ff6b24;
    margin-bottom: 3rem;
    margin-right: 0.6rem;
    text-decoration: none;
    @media screen and (max-width: 425px) {
      width: 2rem;
      height: 2rem;
      margin-bottom: 1rem;
    }

    i {
      font-size: 1rem;
      color: white;
    }
  }
}

#work {
  @include title;
  padding-top: 3rem;
  @media screen and (min-width: 1024px) {
    padding-top: 6.3rem;
  }


  .accordion {
    padding-top: 3rem;

    .card {
      border: none;
      border-radius: 0;
      background-color: transparent;
      margin-bottom: 6.3rem;
      @media screen and (max-width: 500px) {
        margin: 3rem -15px;
      }

      .card-body {
        display: flex;
        padding: 0;
        flex-wrap: wrap;
        @media screen and (max-width: 1024px) {
          justify-content: center;
        }

        img {
          width: 23rem;
          @media screen and (max-width: 500px) {
            width: 100%;
            height: 23rem;
            padding: 0 -15px;
          }
        }
      }

      .card-header {
        background-color: transparent;
        border: none;
      }

      .btn {
        border-radius: 0;
      }

      .btn-link {
        color: black;
        font-family: 'Dancing Script', cursive;
        font-size: 1.2rem;
        margin-bottom: 3.5rem;
      }

      .btn-link:hover {
        text-decoration: none;
        border-bottom: 1px solid #ff6b24;
      }
    }
  }
}

#services {
  @include title;
  font-family: $article-font;
  margin-bottom: 6.3rem;
  @media screen and (max-width: 768px) {
    margin-bottom: 3rem;
  }

  h3 {
    text-transform: uppercase;
    font-weight: bold;
    @media screen and (min-width: 1024px) {
      font-size: 1.5rem;
    }
  }

  .row {
    div:first-of-type {
      border-right: #ff6b24 1px solid;
      border-bottom: #ff6b24 1px solid;
      @media screen and (max-width: 500px) {
        border-right: none;
      }
    }

    div:nth-of-type(2) {
      border-right: #ff6b24 1px solid;
      border-bottom: #ff6b24 1px solid;
      @media screen and (max-width: 768px) {
        border-right: none;
      }

    }

    div:nth-of-type(3) {
      border-bottom: #ff6b24 1px solid;
      @media screen and (max-width: 768px) {
        border-right: #ff6b24 1px solid;
        border-bottom: #ff6b24 1px solid;
      }
      @media screen and (max-width: 500px) {
        border-right: none;
      }
    }

    div:nth-of-type(4) {
      border-right: #ff6b24 1px solid;
      @media screen and (max-width: 768px) {
        border-bottom: #ff6b24 1px solid;
        border-right: none;
      }
    }

    div:nth-of-type(5) {
      border-right: #ff6b24 1px solid;
      @media screen and (max-width: 500px) {
        border-right: none;
        border-bottom: #ff6b24 1px solid;
      }
    }
  }
}

#flikr {
  @include title;
  margin-bottom: 6.3rem;
  @media screen and (max-width: 768px) {
    margin-bottom: 3rem;
  }

  img {
    width: 20%;
    height: auto;
  }

  .btn {
    background-color: #ff6b24;
    font: 1.25rem $main-font;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0;
    line-height: 2.5rem;
    width: 13rem;
  }

  .btn-primary {
    border: none;
  }

  .btn.focus, .btn:focus {
    box-shadow: none;
  }
}

#blog {
  @include title;
  margin-bottom: 6.3rem;
  @media screen and (max-width: 768px) {
    margin-bottom: 3rem;
  }
  font-family: $main-font;

  .headline {
    @media screen and (max-width: 500px) {
      text-align: center;
    }

    h3 {
      font-size: 1.5rem;
      font-weight: bold;
      color: #626060;

    }

    p {
      font-size: 0.9rem;
      font-style: italic;
      margin-bottom: 4.25rem;
      @media screen and (max-width: 1024px) {
        margin-bottom: 1rem;
      }

      span {
        color: #ff6b24;
      }
    }

    .btn {
      border: none;
    }

    .btn-primary {
      background-color: transparent;
      color: #ff6b24;
    }

    .btn.focus, .btn:focus {
      box-shadow: none;
    }
  }


}

#contact {
  @include title;
  margin-bottom: 3rem;

  form {
    margin-top: 6.5rem;
    @media screen and (max-width: 768px) {
      margin-top: 3rem;
    }
  }

  .form-control {
    border-radius: 0;
    border-color: #bfbebe;
    height: 3.5rem;
  }

  .form-control:focus {
    box-shadow: none;
  }

  #Textarea {
    height: 16rem;
  }

  input::placeholder, textarea::placeholder {
    font: 1.1rem $main-font;
  }
  .btn-primary{
    background-color: #ff6b24;
    border: none;
  }
  .btn{
border-radius: 0;
    font: 0.9rem $main-font;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2;
    width: 11rem;
  }
  .btn.focus, .btn:focus{
    box-shadow: none;
  }
}