header h1 {
  font: 1rem "Arial", sans-serif;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  header h1 {
    font-size: 3.125rem;
  }
}
header .carousel-indicators {
  display: block;
  right: auto;
  top: 50%;
  margin: 0 2%;
}
header .carousel-indicators li {
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 50%;
  margin: 7px 0;
  opacity: 1;
}
@media screen and (max-width: 500px) {
  header .carousel-indicators li {
    width: 6px;
    height: 6px;
  }
}
header .carousel-indicators .active {
  background-color: #ff6b24;
}
header .carousel-caption {
  bottom: 10%;
}
header .navbar {
  position: absolute;
  z-index: 1;
  padding-top: 1rem;
}
@media screen and (min-width: 1024px) {
  header .navbar {
    padding-top: 4rem;
  }
}
@media screen and (max-width: 500px) {
  header .navbar img {
    max-width: 50%;
  }
}
header .navbar-nav {
  margin-right: 0.5rem;
}
@media screen and (min-width: 1440px) {
  header .navbar-nav {
    margin-right: 9rem;
  }
}
header .navbar-light .navbar-nav .nav-link {
  font: 0.9rem "Arial", sans-serif;
  color: white;
  text-transform: uppercase;
  padding: 1rem;
}
@media screen and (max-width: 500px) {
  header .navbar-light .navbar-nav .nav-link {
    padding: 0.5rem;
    font-size: 0.5rem;
  }
}
header .navbar-light .navbar-nav .nav-link:focus, header .navbar-light .navbar-nav .nav-link:hover {
  color: white;
}
header .navbar-collapse {
  text-align: right;
}
header .navbar-light .navbar-toggler-icon {
  background-image: url(../images/menu.png);
}

#about {
  padding-top: 3rem;
}
#about h2 {
  text-transform: uppercase;
  font: 1.5rem "Arial", sans-serif;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 1024px) {
  #about h2 {
    font-size: 2.5rem;
  }
}
#about span.title:before {
  content: "";
  display: block;
  border-top: 1px solid #ff6b24;
  width: 4.1rem;
  margin: auto;
  padding-bottom: 2px;
}
#about span.title:after {
  content: "";
  display: block;
  border-bottom: 1px solid #ff6b24;
  width: 4.1rem;
  margin-left: 50%;
}
@media screen and (min-width: 1024px) {
  #about {
    padding-top: 6.3rem;
  }
}
#about span {
  margin-bottom: 3rem;
}
@media screen and (min-width: 1024px) {
  #about span {
    margin-bottom: 6.3rem;
  }
}
#about p {
  font-family: "Arial", sans-serif;
}
#about p:last-of-type {
  margin-bottom: 2rem;
}
#about .social {
  text-align: center;
}
@media screen and (min-width: 1024px) {
  #about .social {
    text-align: left;
  }
}
#about a {
  width: 3rem;
  height: 3rem;
  background-color: #ff6b24;
  margin-bottom: 3rem;
  margin-right: 0.6rem;
  text-decoration: none;
}
@media screen and (max-width: 425px) {
  #about a {
    width: 2rem;
    height: 2rem;
    margin-bottom: 1rem;
  }
}
#about a i {
  font-size: 1rem;
  color: white;
}

#work {
  padding-top: 3rem;
}
#work h2 {
  text-transform: uppercase;
  font: 1.5rem "Arial", sans-serif;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 1024px) {
  #work h2 {
    font-size: 2.5rem;
  }
}
#work span.title:before {
  content: "";
  display: block;
  border-top: 1px solid #ff6b24;
  width: 4.1rem;
  margin: auto;
  padding-bottom: 2px;
}
#work span.title:after {
  content: "";
  display: block;
  border-bottom: 1px solid #ff6b24;
  width: 4.1rem;
  margin-left: 50%;
}
@media screen and (min-width: 1024px) {
  #work {
    padding-top: 6.3rem;
  }
}
#work .accordion {
  padding-top: 3rem;
}
#work .accordion .card {
  border: none;
  border-radius: 0;
  background-color: transparent;
  margin-bottom: 6.3rem;
}
@media screen and (max-width: 500px) {
  #work .accordion .card {
    margin: 3rem -15px;
  }
}
#work .accordion .card .card-body {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
}
@media screen and (max-width: 1024px) {
  #work .accordion .card .card-body {
    justify-content: center;
  }
}
#work .accordion .card .card-body img {
  width: 23rem;
}
@media screen and (max-width: 500px) {
  #work .accordion .card .card-body img {
    width: 100%;
    height: 23rem;
    padding: 0 -15px;
  }
}
#work .accordion .card .card-header {
  background-color: transparent;
  border: none;
}
#work .accordion .card .btn {
  border-radius: 0;
}
#work .accordion .card .btn-link {
  color: black;
  font-family: "Dancing Script", cursive;
  font-size: 1.2rem;
  margin-bottom: 3.5rem;
}
#work .accordion .card .btn-link:hover {
  text-decoration: none;
  border-bottom: 1px solid #ff6b24;
}

#services {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 6.3rem;
}
#services h2 {
  text-transform: uppercase;
  font: 1.5rem "Arial", sans-serif;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 1024px) {
  #services h2 {
    font-size: 2.5rem;
  }
}
#services span.title:before {
  content: "";
  display: block;
  border-top: 1px solid #ff6b24;
  width: 4.1rem;
  margin: auto;
  padding-bottom: 2px;
}
#services span.title:after {
  content: "";
  display: block;
  border-bottom: 1px solid #ff6b24;
  width: 4.1rem;
  margin-left: 50%;
}
@media screen and (max-width: 768px) {
  #services {
    margin-bottom: 3rem;
  }
}
#services h3 {
  text-transform: uppercase;
  font-weight: bold;
}
@media screen and (min-width: 1024px) {
  #services h3 {
    font-size: 1.5rem;
  }
}
#services .row div:first-of-type {
  border-right: #ff6b24 1px solid;
  border-bottom: #ff6b24 1px solid;
}
@media screen and (max-width: 500px) {
  #services .row div:first-of-type {
    border-right: none;
  }
}
#services .row div:nth-of-type(2) {
  border-right: #ff6b24 1px solid;
  border-bottom: #ff6b24 1px solid;
}
@media screen and (max-width: 768px) {
  #services .row div:nth-of-type(2) {
    border-right: none;
  }
}
#services .row div:nth-of-type(3) {
  border-bottom: #ff6b24 1px solid;
}
@media screen and (max-width: 768px) {
  #services .row div:nth-of-type(3) {
    border-right: #ff6b24 1px solid;
    border-bottom: #ff6b24 1px solid;
  }
}
@media screen and (max-width: 500px) {
  #services .row div:nth-of-type(3) {
    border-right: none;
  }
}
#services .row div:nth-of-type(4) {
  border-right: #ff6b24 1px solid;
}
@media screen and (max-width: 768px) {
  #services .row div:nth-of-type(4) {
    border-bottom: #ff6b24 1px solid;
    border-right: none;
  }
}
#services .row div:nth-of-type(5) {
  border-right: #ff6b24 1px solid;
}
@media screen and (max-width: 500px) {
  #services .row div:nth-of-type(5) {
    border-right: none;
    border-bottom: #ff6b24 1px solid;
  }
}

#flikr {
  margin-bottom: 6.3rem;
}
#flikr h2 {
  text-transform: uppercase;
  font: 1.5rem "Arial", sans-serif;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 1024px) {
  #flikr h2 {
    font-size: 2.5rem;
  }
}
#flikr span.title:before {
  content: "";
  display: block;
  border-top: 1px solid #ff6b24;
  width: 4.1rem;
  margin: auto;
  padding-bottom: 2px;
}
#flikr span.title:after {
  content: "";
  display: block;
  border-bottom: 1px solid #ff6b24;
  width: 4.1rem;
  margin-left: 50%;
}
@media screen and (max-width: 768px) {
  #flikr {
    margin-bottom: 3rem;
  }
}
#flikr img {
  width: 20%;
  height: auto;
}
#flikr .btn {
  background-color: #ff6b24;
  font: 1.25rem "Arial", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 0;
  line-height: 2.5rem;
  width: 13rem;
}
#flikr .btn-primary {
  border: none;
}
#flikr .btn.focus, #flikr .btn:focus {
  box-shadow: none;
}

#blog {
  margin-bottom: 6.3rem;
  font-family: "Arial", sans-serif;
}
#blog h2 {
  text-transform: uppercase;
  font: 1.5rem "Arial", sans-serif;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 1024px) {
  #blog h2 {
    font-size: 2.5rem;
  }
}
#blog span.title:before {
  content: "";
  display: block;
  border-top: 1px solid #ff6b24;
  width: 4.1rem;
  margin: auto;
  padding-bottom: 2px;
}
#blog span.title:after {
  content: "";
  display: block;
  border-bottom: 1px solid #ff6b24;
  width: 4.1rem;
  margin-left: 50%;
}
@media screen and (max-width: 768px) {
  #blog {
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 500px) {
  #blog .headline {
    text-align: center;
  }
}
#blog .headline h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #626060;
}
#blog .headline p {
  font-size: 0.9rem;
  font-style: italic;
  margin-bottom: 4.25rem;
}
@media screen and (max-width: 1024px) {
  #blog .headline p {
    margin-bottom: 1rem;
  }
}
#blog .headline p span {
  color: #ff6b24;
}
#blog .headline .btn {
  border: none;
}
#blog .headline .btn-primary {
  background-color: transparent;
  color: #ff6b24;
}
#blog .headline .btn.focus, #blog .headline .btn:focus {
  box-shadow: none;
}

#contact {
  margin-bottom: 3rem;
}
#contact h2 {
  text-transform: uppercase;
  font: 1.5rem "Arial", sans-serif;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 1024px) {
  #contact h2 {
    font-size: 2.5rem;
  }
}
#contact span.title:before {
  content: "";
  display: block;
  border-top: 1px solid #ff6b24;
  width: 4.1rem;
  margin: auto;
  padding-bottom: 2px;
}
#contact span.title:after {
  content: "";
  display: block;
  border-bottom: 1px solid #ff6b24;
  width: 4.1rem;
  margin-left: 50%;
}
#contact form {
  margin-top: 6.5rem;
}
@media screen and (max-width: 768px) {
  #contact form {
    margin-top: 3rem;
  }
}
#contact .form-control {
  border-radius: 0;
  border-color: #bfbebe;
  height: 3.5rem;
}
#contact .form-control:focus {
  box-shadow: none;
}
#contact #Textarea {
  height: 16rem;
}
#contact input::placeholder, #contact textarea::placeholder {
  font: 1.1rem "Arial", sans-serif;
}
#contact .btn-primary {
  background-color: #ff6b24;
  border: none;
}
#contact .btn {
  border-radius: 0;
  font: 0.9rem "Arial", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2;
  width: 11rem;
}
#contact .btn.focus, #contact .btn:focus {
  box-shadow: none;
}

/*# sourceMappingURL=main.css.map */
